# Alles ignorieren
*

# .gitignore selbst behalten
!.gitignore

# Assets-Ordner erlauben
!Assets/

# Bestimmte Ordner erlauben
!Assets/1_Scripts
!Assets/2_Prefabs
!Assets/3_Materials
!Assets/Scenes
!Assets/Web

# Inhalte dieser Ordner erlauben
!Assets/1_Scripts/**
!Assets/2_Prefabs/**
!Assets/3_Materials/**
!Assets/Scenes/**